*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(246, 245, 244);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calci{
    background-color: black;
    border-radius: 10px;
    padding: 20px;
}
.calci form input{
    border:0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin: 10px;
}
 form .display{
    display:flex;
    justify-content: flex-end;
    margin: 20px 0;
   
 }
 form .display input{
    text-align: right;
    flex: 1;
    font-size: larger;
 }
 /* form input.equal{
width: 145px;

 } */
  form input.color{
    color: green;
  }